.env
vertex_test.ipynb
.ipynb_checkpoints
Embeddings Applications.ipynb
Celtic_Origin_414921.json
stressie.ipynb
QAlangchain.ipynb
movie_embeddings.pickle
params.txt
movies_metadata.csv
credits.csv
ratings.csv
raings_small.csv
